---
layout: default
---

  <div class="toplinks">
    <div>
    </div>
    {% include topnav.html %}
  </div>
  <div class="banner push-half">
    <!--img src="" alt="" class="logosep"/-->
    <div class="logosep">
        <img src="assets/img/logoSep.png" alt="" class="logosepcont"/>
    </div>
    <div class="nombre">
      <a class="name mega">Tecnológico Nacional de México</a>
      <a class="subname kilo">{{site.title}}</a>
    </div>
    <div class="logogov">
      <img src="assets/img/sepc.jpg" alt="" class="logosepcont"/>
    </div>
  </div>
  <div class="push-half">
    {% include nav.html %}
  </div>
  <div class="slider push-half">
  </div>
  <div class="posts">
  {% for post in site.posts %}
    <div class="news push-half">
        <img src="{{site.baseurl}}/assets/img/{{post.image}}" alt="" style="min-width:38%;" class="push-right-half"/>
        <div class="content">
          <p class="date">
            {{ post.date | date_to_string }}
          </p>
          <h2>{{post.title}}</h2>
          <p class="desc">
            {{post.desc}}
          </p>
        </div>
    </div>
  {% endfor %}
</div>
  <p style="color:green;background:rgb(255,255,0);">
  </p>
