---
layout: default
---

  <div class="toplinks">
    <div>
    </div>
    {% include topnav.html %}
  </div>
  <div class="banner push-half">
    <!--img src="" alt="" class="logosep"/-->
        <img src="{{site.baseurl}}/assets/img/logoSep.jpg" alt="" class="logosep"/>
    <div class="nombre">
      <a class="name mega">Tecnológico Nacional de México</a>
      <a class="subname kilo">{{site.title}}</a>
    </div>
      <img src="{{site.baseurl}}/assets/img/sepc.jpg" alt="" class="logogov"/>

  </div>
  <div class="push-half">
    {% include nav.html %}
  </div>
  <div class="slider push">
    <img src="{{site.baseurl}}/assets/img/1.jpg" alt="" style="width:100%;"/>
  </div>
  <div class="modulos push">
    <div class="submod1 island"><div class="submod1cont"><p class="italic push-none pad-top-half">Calendario y</p><p class="peta push-none soberana">Eventos</p></div></div>
    <div class="submod2 island"><div class="submod1cont"><p class="italic push-none pad-top-half">Buzón de quejas y</p><p class="tera push-quarter pad-top-quarter soberana">Sugerencias</p></div></div>
    <div class="submod3 island"><div class="submod1cont"><p class="italic push-none pad-top-half">Sistemas de</p><p class="peta push-none soberana">Gestión</p></div></div>
  </div>
  <div class="posts">
  {% for post in site.posts limit: 4%}
    <div class="news push">
        <img src="{{site.baseurl}}/assets/img/{{post.image}}" alt="" style="min-width:38%;"/>
        <div class="content island">
          <p class="date italic">
            {% assign m = post.date | date: "%-m" %}
            {{ post.date | date: "%-d" }} de
            {% case m %}
            {% when '1' %}Enero
            {% when '2' %}Febrero
            {% when '3' %}Marzo
            {% when '4' %}Abril
            {% when '5' %}Mayo
            {% when '6' %}Junio
            {% when '7' %}Julio
            {% when '8' %}Agosto
            {% when '9' %}Septiembre
            {% when '10' %}Octubre
            {% when '11' %}Noviembre
            {% when '12' %}Diciembre
            {% endcase %} del
            {{ post.date | date: "%Y" }}
          </p>
          <h4 class="mega titulo soberana">{{post.title}}</h4>
          <p class="desc">
            {{post.desc}}
          </p>
        </div>
    </div>
  {% endfor %}
</div>
<div class="footersld push">
  <div class="footersldc firstldc push-r"><div class="footersldcc"><p class=" parrafo giga push-none soberana">Todas las noticias</p></div></div>
  <div class="footersldc push-r"><div class="footersldcc"><p class="push-none soberana giga">test</p></div></div>
  <div class="footersldc push-r"><div class="footersldcc"><p class="push-none soberana giga">test</p></div></div>
  <div class="footersldc"><div class="footersldcc"><p class="push-none soberana giga">test</p></div></div>

</div>
<img src="{{site.baseurl}}/assets/img/footer.jpg" alt="Logotipos institucionales" class="footerimage"/>
