---
layout: default
---

  <div class="toplinks pad-top-half">
    <div>
    </div>
    {% include topnav.html %}
  </div>
  <div class="banner push">
    <img src="{{site.baseurl}}/assets/img/logoSep.jpg" alt="" class="logosep"/>
    <div class="nombre">
      <a class="name mega">Tecnológico Nacional de México</a>
      <a class="subname kilo">{{site.title}}</a>
    </div>
    <img src="{{site.baseurl}}/assets/img/sepc.jpg" alt="" class="logogov" style="border-radius:0.2rem;"/>
  </div>
  <div class="push">
    <p class="hiddenMenu">
      Menu
    </p>
    {% include nav.html %}
  </div>
  <div class="slider push shadow" style="border-radius:0.2rem;">
    <a href="/1" style="width:100%;"><img src="{{site.baseurl}}/assets/img/1.jpg" style="display:inline-block; opacity:1; width:100%; border-radius:0.2rem; "/></a>
    <a href="/2" style="width:100%; display:none;"><img src="{{site.baseurl}}/assets/img/2.jpg" style="display:inline-block; opacity:1; width:100%; border-radius:0.2rem; "/></a>
    <a href="/3" style="width:100%; display:none;"><img src="{{site.baseurl}}/assets/img/3.jpg" style="display:inline-block; opacity:1; width:100%; border-radius:0.2rem; "/></a>
  </div>
  <div class="modulos">
    <div class="submod1 island-half shadow push" style="border-radius:0.2rem;">
      <div class="ubmod1cont">
        <p class="italic push-none pad-top-half">Calendario y</p>
        <p class="peta push-none soberana">Eventos</p>
      </div>
    </div>
    <div class="submod2 island-half shadow push" style="border-radius:0.2rem;">
      <div class="ubmod1cont">
        <p class="italic push-none pad-top-half">Buzón de quejas y</p>
        <p class="tera push-quarter pad-top-quarter soberana">Sugerencias</p>
      </div>
    </div>
    <div class="submod3 island-half shadow push" style="border-radius:0.2rem;">
      <div class="ubmod1cont">
        <p class="italic push-none pad-top-half">Sistemas de</p>
        <p class="peta push-none soberana">Gestión</p>
      </div>
    </div>
  </div>
  <div class="posts">
  {% for post in site.posts limit: 4%}
    <div class="news push shadow">
        <img src="{{site.baseurl}}/assets/img/{{post.image}}" alt="{{ post.title }}"/>
        <div class="content island">
          <p class="date italic push-none">
            {% assign m = post.date | date: "%-m" %}
            {{ post.date | date: "%-d" }} de
            {% case m %}
            {% when '1' %}Enero
            {% when '2' %}Febrero
            {% when '3' %}Marzo
            {% when '4' %}Abril
            {% when '5' %}Mayo
            {% when '6' %}Junio
            {% when '7' %}Julio
            {% when '8' %}Agosto
            {% when '9' %}Septiembre
            {% when '10' %}Octubre
            {% when '11' %}Noviembre
            {% when '12' %}Diciembre
            {% endcase %} del
            {{ post.date | date: "%Y" }}
          </p>
          <a href="{{ post.url | prepend: site.baseurl }}" class="mega titulo soberana">{{post.title}}</a>
          <p class="desc pad-top">
            {{post.desc}}
          </p>
        </div>
    </div>
  {% endfor %}
</div>
<div class="footersld">
  <div class="footersldc firstldc push-right island shadow push"><p class=" parrafo giga push-none soberana">Todas las noticias</p></div>
  <div class="footersldc push-right island shadow push"><p class="push-none soberana giga">test</p></div>
  <div class="footersldc push-right island shadow push"><p class="push-none soberana giga">test</p></div>
  <div class="footersldc island shadow push"><p class="push-none soberana giga">test</p></div>
</div>
<img src="{{site.baseurl}}/assets/img/footer.jpg" alt="Logotipos institucionales" class="footerimage"/>
<script charset="utf-8">
  $(function(){
    var slides = $('.slider>a');
    var slideCount = 0;
    var totalSlides = slides.length;
    var slideCache = [];

    (function preloader(){
      if(slideCount < totalSlides){
        slideCache[slideCount] = new Image();
        slideCache[slideCount].src = slides.eq(slideCount).find('img').attr('src');
        console.log(slideCache[slideCount].src);
        slideCache[slideCount].onload = function(){
          slideCount++;
          preloader();
        }
      }else{
        slideCount = 0;
        console.log('lanzado');
        slideShow();
      }
    }());

    function slideShow(){
      slides.eq(slideCount).fadeIn(1000).delay(2000).fadeOut(1000, function(){
        slideCount < totalSlides - 1 ? slideCount++ : slideCount = 0;
        slideShow();
      });
    }
  }());


</script>
<!--script charset="utf-8">
$( document ).ready(function() {
  var currentIndex = 0,
  items = $('.slider img'),
  itemAmt = items.length;

  function cycleItems() {
    var item = $('.slider img').eq(currentIndex);
    items.hide();
    items.css('opacity','0');
    item.css('display','inline-block');
    item.css('opacity', '1');
  }

  var autoSlide = setInterval(function() {
  currentIndex += 1;
  if (currentIndex > itemAmt - 1) {
    currentIndex = 0;
  }
  cycleItems();
}, 4000);

  console.log(itemAmt);
});
</script-->
