
  <ul class="menu">
    {% if include.type == 'true' %} <li ><a href="{{ site.baseurl }}" class="kilo pad-top-quarter pad-bottom-quarter">Inicio</a></li> {% endif %}
    <li class="kilo pad-top-quarter pad-bottom-quarter">Tecnológico
      <ul class="submenu">
        <li><a href="/" class="kilo pad-top-quarter pad-bottom-quarter">Misión, visión y valores</a></li>
        <li><a href="/" class="kilo pad-top-quarter pad-bottom-quarter">Semblanza del escudo</a></li>
        <li><a href="/" class="kilo pad-top-quarter pad-bottom-quarter">Semblanza histórica</a></li>
        <li><a href="/" class="kilo pad-top-quarter pad-bottom-quarter">Semblanza del lema</a></li>
        <li><a href="/" class="kilo pad-top-quarter pad-bottom-quarter">Mapa de ubicación</a></li>
        <li><a href="/" class="kilo pad-top-quarter pad-bottom-quarter">Directorio</a></li>
      </ul>
    </li>
    <li class="kilo pad-top-quarter pad-bottom-quarter">Alumno
      <ul class="submenu">
        <li><a href="/" class="kilo pad-top-quarter pad-bottom-quarter">Residencias profesionales</a></li>
        <li><a href="/" class="kilo pad-top-quarter pad-bottom-quarter">Consulta tu kardex</a></li>
        <li><a href="/" class="kilo pad-top-quarter pad-bottom-quarter">Servicio social</a></li>
        <li><a href="/" class="kilo pad-top-quarter pad-bottom-quarter">Reinscripciones</a></li>
        <li><a href="/" class="kilo pad-top-quarter pad-bottom-quarter">Extraescolares</a></li>
        <li><a href="/" class="kilo pad-top-quarter pad-bottom-quarter">Idioma Ingles</a></li>
        <li><a href="/" class="kilo pad-top-quarter pad-bottom-quarter">Reglamentos</a></li>
        <li><a href="/" class="kilo pad-top-quarter pad-bottom-quarter">Egresados</a></li>
        <li><a href="/" class="kilo pad-top-quarter pad-bottom-quarter">Titulación</a></li>
        <li><a href="/" class="kilo pad-top-quarter pad-bottom-quarter">Servicios</a></li>
        <li><a href="/" class="kilo pad-top-quarter pad-bottom-quarter">Moodle</a></li>
      </ul>
    </li>
    <li class="kilo pad-top-quarter pad-bottom-quarter">Aspirante
      <ul>
        <li><a href="/" class="kilo pad-top-quarter pad-bottom-quarter">Proceso de inscripción</a></li>
        <li><a href="/" class="kilo pad-top-quarter pad-bottom-quarter">Oferta educativa</a></li>
        <li><a href="/" class="kilo pad-top-quarter pad-bottom-quarter">Fotogalerias</a></li>
        <li><a href="/" class="kilo pad-top-quarter pad-bottom-quarter">Información</a></li>

      </ul>
    </li>
    <li class="kilo pad-top-quarter pad-bottom-quarter">Docente
      <ul>
        <li><a href="/" class="kilo pad-top-quarter pad-bottom-quarter">Manual de beca comisín</a></li>
        <li><a href="/" class="kilo pad-top-quarter pad-bottom-quarter">Captura calificaciones</a></li>
        <li><a href="/" class="kilo pad-top-quarter pad-bottom-quarter">Gestión del Curso</a></li>
        <li><a href="/" class="kilo pad-top-quarter pad-bottom-quarter">Convocatorias</a></li>
        <li><a href="/" class="kilo pad-top-quarter pad-bottom-quarter">Moodle</a></li>
      </ul>
    </li>
  </ul>
