
  <ul class="menu">
    <li class="kilo pad-top-quarter pad-bottom-quarter">Tecnológico
      <ul class="submenu">
        <li class="kilo pad-top-quarter pad-bottom-quarter">Misión, visión y valores</li>
        <li class="kilo pad-top-quarter pad-bottom-quarter">Semblanza del escudo</li>
        <li class="kilo pad-top-quarter pad-bottom-quarter">Semblanza histórica</li>
        <li class="kilo pad-top-quarter pad-bottom-quarter">Semblanza del lema</li>
        <li class="kilo pad-top-quarter pad-bottom-quarter">Mapa de ubicación</li>
        <li class="kilo pad-top-quarter pad-bottom-quarter">Directorio</li>
      </ul>
    </li>
    <li class="kilo pad-top-quarter pad-bottom-quarter">Alumno
      <ul class="submenu">
        <li class="kilo pad-top-quarter pad-bottom-quarter">Residencias profesionales</li>
        <li class="kilo pad-top-quarter pad-bottom-quarter">Consulta tu kardex</li>
        <li class="kilo pad-top-quarter pad-bottom-quarter">Servicio social</li>
        <li class="kilo pad-top-quarter pad-bottom-quarter">Reinscripciones</li>
        <li class="kilo pad-top-quarter pad-bottom-quarter">Extraescolares</li>
        <li class="kilo pad-top-quarter pad-bottom-quarter">Idioma Ingles</li>
        <li class="kilo pad-top-quarter pad-bottom-quarter">Reglamentos</li>
        <li class="kilo pad-top-quarter pad-bottom-quarter">Egresados</li>
        <li class="kilo pad-top-quarter pad-bottom-quarter">Titulación</li>
        <li class="kilo pad-top-quarter pad-bottom-quarter">Servicios</li>
        <li class="kilo pad-top-quarter pad-bottom-quarter">Moodle</li>
      </ul>
    </li>
    <li class="kilo pad-top-quarter pad-bottom-quarter">Aspirante
      <ul>
        <li class="kilo pad-top-quarter pad-bottom-quarter">Proceso de inscripción</li>
        <li class="kilo pad-top-quarter pad-bottom-quarter">Oferta educativa</li>
        <li class="kilo pad-top-quarter pad-bottom-quarter">Fotofalerias</li>
        <li class="kilo pad-top-quarter pad-bottom-quarter">Información</li>

      </ul>
    </li>
    <li class="kilo pad-top-quarter pad-bottom-quarter">Docente
      <ul>
        <li class="kilo pad-top-quarter pad-bottom-quarter">Manual de beca comisín</li>
        <li class="kilo pad-top-quarter pad-bottom-quarter">Captura calificaciones</li>
        <li class="kilo pad-top-quarter pad-bottom-quarter">Gestión del Curso</li>
        <li class="kilo pad-top-quarter pad-bottom-quarter">Convocatorias</li>
        <li class="kilo pad-top-quarter pad-bottom-quarter">Moodle</li>
      </ul>
    </li>
  </ul>
