.name, .subname {
  font-family: soberana;
  text-align: center;
  display: block;
}

.subname {
  color: rgb(220, 36, 48);
  color: rgb(205, 0, 0);
}
.back {
  background: white;
  position: relative;
  z-index: 2;
  margin-bottom: 7.6rem;
  box-shadow: 0 0 1rem black;
  border-radius:0.2rem;

}
.main {
  max-width: 60em;
  margin: 0 auto;
  background: white;
  position: relative;
  z-index: 2;
}


.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logosep {
  max-width: 30%;
}


.logogov {
  max-width: 15%;
  align-self: flex-end;
}

.modulos {
  max-height: 8em;
  width: 100%;
  display: flex;
}

.submod1,.submod2,.submod3{
  width: 40%;
  max-height: 100%;
  background: radial-gradient(farthest-corner at 50% 0% , #ffffff 0%, #f0f0f0 80%);
  display: inline-block;
  box-shadow: inset 0 0rem 3rem #dddddd,0 0.2rem .5rem #999999;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.submod2{
  margin: 0 1.3rem 0 1.3rem;
}

.submod1cont{
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  width: 100%;
  max-height: calc(100% - 2.6rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.submod1cont:only-child{
  color: rgba(0, 0, 0, 0.5);
}

.news {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background: radial-gradient(farthest-corner at 50% 0% , #ffffff 0%, #f0f0f0 80%);
  border-radius:0.2rem;
  min-height: 12rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
}

.date {
  /*margin: 0;*/
  color: rgb(180, 180, 180);
}

.desc {
  margin: 0;
  text-align: justify;
}

.content {
  margin-left: 0.65rem;  margin-right: 0.65rem;
}

.news:nth-child(even){
  background: radial-gradient(farthest-corner at 50% 0% , #ffffff 0%, #f0f0f0 80%);

}

.news:nth-child(even) .content{
  margin-right: 0.65rem;
  margin-left: 0.65rem;
  background: rgba(0, 0, 0, 0.0);
  order: -1;
}

.news img {
  border-radius:0.2rem 0 0 0.2rem;
}

.news:nth-child(even) img {
  border-radius: 0 0.2rem 0.2rem 0;
}

.titulo{
  color: rgb(70, 70, 70);
  color: #cc0000;
  text-decoration: none;
}

.footersld{
  display: flex;
  align-items: center;
}

.footersldc{
  background: radial-gradient(farthest-corner at 50% 0% , #ffffff 0%, #f0f0f0 80%);
  width: 100%;
  position: relative;
  box-shadow: 0 0.1rem 0.3rem #888888;
  /**/
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:0.2rem;
}

.firstldc{
  min-width: 34%;
}

.footersldcc {
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    max-width: 100%;
    height: calc(100% - 2.6rem);
    margin: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.parrafo{
  text-overflow: ellipsis;
  white-space: nowrap;
}

.footerimage {
  width: 60%;
  display: block;
  margin: 0 auto;
}

.footernotes{
  color: white;
}
.footer {
  width: 100%;

  background: linear-gradient(50deg, #ff0000, #990000);
  position: fixed;
  bottom: 0;
}

p img {
  width: 100%;
}

.shadow{
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
}

.blur-me {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  background-size: contain;
  width: 100%;
  height: 50%;
}

.fix p:not(:first-child) {
  text-align: justify;
}
