.name, .subname {
  font-family: soberana;
  text-align: center;
  display: block;
}

.subname {
  color: rgb(220, 36, 48);
}
.main {
  max-width: 60em;
  margin: 0 auto;
}

.logosep {
  max-width: 30%;
  background-image: url(../assets/img/logoSep.png);
  background-size: contain;
}

.logosepcont {
  width: 100%;
  visibility: hidden;
}

.logogov {
  max-width: 15%;
  align-self: flex-end;
  background-image: url(../assets/img/sepc.jpg);
  background-size: contain;
}

.news {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.date {
  margin: 0;
  color: rgb(180, 180, 180);
}

.desc {
  margin: 0;
}

.content {
  margin-left: 0.65rem;
  background: rgba(0, 0, 0, 0.04);

}

.news:nth-child(even) .content{
  margin-right: 0.65rem;
  margin-left: 0;
  background: rgba(0, 0, 0, 0.04);
  order: -1;
}
