.menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(#ff0000, #990000);
  padding: 0;
  color: white;
  font-family: soberanasans;
  max-width: 60rem;
  margin: 0 auto;
  box-shadow: 0 0.1rem 0.3rem #666666;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.menu li {
  width: 100%;
  text-align: center;
  flex: 0 1 auto;
  z-index: 1;
  position: relative;
}

.menu li a{
  text-decoration: none;
  color: white;
  width: 100%;
  display: block;
}

.menu li ul li a{
  text-decoration: none;
  color: rgb(205, 0, 0);
  width: 100%;
  display: block;
}

.menu li a:hover{
  text-decoration: none;
  color: rgb(205, 0, 0);
}

.menu li:hover{
  background: white;
  cursor: pointer;
  color: rgb(205, 0, 0);
}

.menu li:hover ul{
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  top: 1.9rem;
}

.menu li ul {
  transition: all .2s ease;
  background: linear-gradient(#ffffff, #dddddd);
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
  width: 100%;
  top: 1.6rem;
  visibility: hidden;
  opacity: 0;
  color: rgb(205, 0, 0);
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
}

.menu li ul li:hover a{
  background: linear-gradient(50deg, #ff0000, #990000);
  color: white;
}

.slider {
  background: linear-gradient(40deg, #accd3a, #2bc792);
  height: 20rem;
  max-width: 60rem;
  display: flex;
  box-shadow: 0 0.1rem 0.3rem #888888;
}
