<html>
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{page.title}}{% else %}{{site.title}}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  </head>
  <body>
    <div class="back pad-bottom">
      <div class="main gutter">
        {{content}}
      </div>
    </div>
    <div class="footer">
      <div  class="footerdisc ">
        <p class="text-center footernotes push-none micro">© 2015 Todos los Derechos Reservados</p>
        <p class="text-center footernotes push-none micro">Carretera Internacional y entronque a la Brecha</p>
        <p class="text-center footernotes push-none micro">Ej. El Burrioncito, Guasave, Sinaloa</p>
        <p class="text-center footernotes push-none micro">Tel-Fax. (687) 87 1-45-81</p>
      </div>
    </div>
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script-->

  </body>
</html>
