<html>
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{page.title}}{% else %}{{site.title}}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  </head>
  <body>
    <div class="back pad-bottom">
      <div class="main"><div class="toplinks">
        <div>
        </div>
        {% include topnav.html %}
      </div>
      <div class="banner push-half">
        <!--img src="" alt="" class="logosep"/-->
            <img src="{{site.baseurl}}/assets/img/logoSep.jpg" alt="" class="logosep"/>
        <div class="nombre">
          <a class="name mega">Tecnológico Nacional de México</a>
          <a class="subname kilo">{{site.title}}</a>
        </div>
          <img src="{{site.baseurl}}/assets/img/sepc.jpg" alt="" class="logogov"/>

      </div>
      <div class="push-half">
        {% include nav.html type='true'%}
      </div>
        {{content}}
      </div>
    </div>
    <div class="footer">
      <div  class="footerdisc pad-t-2">
        <p class="text-center footernotes">© 2015 Todos los Derechos Reservados</p>
        <p class="text-center footernotes">Carretera Internacional y entronque a la Brecha</p>
        <p class="text-center footernotes">Ej. El Burrioncito, Guasave, Sinaloa</p>
        <p class="text-center footernotes">Tel-Fax. (687) 87 1-45-81</p>
      </div>
    </div>
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script-->
  </body>
</html>
